services:
  
  backend:
    build:
      context: .
      dockerfile: backend/backend.Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy


  frontend:
    build:
      context: frontend
      dockerfile: frontend.Dockerfile
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: web3l-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: web3l
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3306:3306"
    volumes:
      - ./database:/docker-entrypoint-initdb.d
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysql -uuser -ppass -e 'SELECT 1;' web3l"]
      interval: 10s 
      timeout: 5s
      retries: 5
      start_period: 20s 
volumes:
  db_data:
